/* Write your code here. */
.card-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  margin-bottom: 10px;
  border-radius: 20px;
  flex-wrap: wrap;
  width: 80vw;
}
.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  color: #52606d;
}
.button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
.description {
  font-family: 'Roboto';
  font-size: 18px;
  color: #9aa5b1;
}
.paragraph-container {
  display: flex;
  flex-direction: column;
}
hr {
  width: 100%;
  border-top: solid #9aa5b1 1px;
}
